*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.container{
    background-color: rgb(0, 0, 0);
    width: 250px;
    height: 100vh;
    font-size: 20px;
    transition: 0.5s ease;
    transform: translateX(-250px);
    position: fixed;
}
.head {
    color: rgb(49, 1, 1);
    padding: 40px 20px;
    background-color: burlywood;
    font-weight:bold ;
    font-size: 40px;
}

li a{
    font-size: 25px;
    display: flex;
    color: white;
    padding: 30px 30px;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;
    border-bottom-style:solid ;
}
li:hover a{
 background-color: rgb(235, 161, 161);
 font-size: 30px;
 color: rgb(0, 0, 0);
 transform: scale(1.3);
 margin: 10px;
 padding: 30px 20px;
}
span{
    color: white;
    background-color: black;
    position: absolute;
    top: 30px;
    right:-40px;
    font-size: 25px;
    padding: 3px 8px;
    border-radius: 3px;
}
input{
    visibility: hidden;
    display: none;
}
#check:checked ~ .container{
    transform: translateX(0px);
}
#check:checked ~ .container #bars{
    display: none;
}
#check:checked ~ .contain1{
    transform: scale(.7);
    top: 40%;
}
#check:checked ~ .contain2{
    transform: scale(.7);
    top: 70%;
}
#check:checked ~ .two{
    transform: scale(.7);
}
#check:checked ~ .links{
    transition: none;
    visibility: hidden;
}
.contain1{
    width:90%;
    position: absolute;
    display:flex;
    top: 60% ;
    left: 5%;
    justify-content: space-around;
    align-items: center;
    transition: 1s ease-in-out;
}
.contain2{
    width:90%;
    position: absolute;
    display:flex;
    top: 105% ;
    left: 5%;

    margin-bottom: 100px;
    justify-content: space-around;
    align-items: center;
    transition: 1s ease-in-out;
}
.box{
    width: 25% ;
    height: 35vh;
    border:  2px black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 1s;
    background-color: rgb(18, 152, 236);
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center ;
}
.box .img{
    border-radius: 20px;
    width: 90%;
    height: 70%;
    margin: 10px;
}
img{
    height:100%;
}
.links{
    position: absolute;
    top:53%;
    left: 42%;
    text-decoration: underline;
    text-shadow:
      0 0 7px #ffffff,
      0 0 10px #ffffff,
      0 0 21px #ffffff,
      0 0 42px #ffffff,
      0 0 82px #ffffff,
      0 0 92px #ffffff,
      0 0 102px #ffffff,
      0 0 151px #ffffff;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.txt{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    width: 100%;
    transition: .5s ease-in;
}
.box:hover a{
    height: 100%;
    color: rgb(217, 0, 255);
      0 0 7px #ffffff,
      0 0 10px #ffffff,
      0 0 21px #ffffff,
      0 0 42px #ffffff,
      0 0 82px #ffffff,
      0 0 92px #ffffff,
      0 0 102px #ffffff,
      0 0 151px #ffffff;
}
.box:hover{ 
    transform: scale(1.2);
    -webkit-box-shadow:0px 0px 17px 5px rgba(164,16,166,0.95);
    -moz-box-shadow: 0px 0px 17px 5px rgba(164,16,166,0.95);
    box-shadow: 0px 0px 17px 5px rgba(167, 21, 169, 0.95);
    background-color: rgba(181, 88, 88, 0.119);
}
.two{
    width:38%;
    height: 40vh;
    position: absolute;
    display:flex;
    top: 10% ;
    margin-left: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 1s ease-in-out;
}
.class{
    width: 130cm;
    height: 100%;
    overflow: hidden;
}
video{
    width: 100%;
    height: 100%;
}
.two:hover{
    transform: scale(1.1);
    transition: 1s;
    -webkit-box-shadow:0px 0px 17px 5px rgba(164,16,166,0.95);
    -moz-box-shadow: 0px 0px 17px 5px rgba(164,16,166,0.95);
    box-shadow: 0px 0px 17px 5px rgba(164,16,166,0.95);
    border: 0px;
} 
h2{
    left: 40%;
    position: absolute;
    margin: 20px;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-shadow:
      0 0 7px #000000,
      0 0 10px #000000,
      0 0 21px #000000,
      0 0 42px #000000,
      0 0 82px #000000,
      0 0 92px #000000,
      0 0 102px #000000,
      0 0 151px #000000;
      transition: 1s ease-in-out;
}
h2:hover{
    transform: scale(1.2);
}

